<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>サイコロ結果</title>
</head>
<body>
  <h1>イカサマサイコロゲーム</h1>
  <p>指定した値：<%= value %></p>
  <p>出た目：<%= dice %></p>
  <p>イカサマ<%= judge %>です!</p>
  <hr>
  <form action="/saikoro">
      <label for="value">次は何の目を出したい?</label><br>
      <input type="radio" name="radio" id="radio1" value="1">
      <label for="radio1">1</label><br>
      <input type="radio" name="radio" id="radio2" value="2">
      <label for="radio1">2</label><br>
      <input type="radio" name="radio" id="radio3" value="3">
      <label for="radio1">3</label><br>
      <input type="radio" name="radio" id="radio4" value="4">
      <label for="radio1">4</label><br>
      <input type="radio" name="radio" id="radio5" value="5">
      <label for="radio1">5</label><br>
      <input type="radio" name="radio" id="radio6" value="6">
      <label for="radio1">6</label><br>
      <input type="submit" value="送信">
  </form>
</body>
</html>



